<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<oddjob>
    <job>
        <sequential>
            <jobs>
                <bus:bus xmlns:bus="oddjob:beanbus">
                    <of>
                        <bus:driver>
                            <values>
                                <list>
                                    <values>
                                        <value value="Apple"/>
                                        <value value="Orange"/>
                                        <value value="Pear"/>
                                    </values>
                                </list>
                            </values>
                        </bus:driver>
                        <bus:collect id="collect">
                            <keyMapper>
                                <value value="#{function(x) { return x.charAt(0) }}"/>
                            </keyMapper>
                        </bus:collect>
                    </of>
                </bus:bus>
                <echo><![CDATA[Element 'O': ${collect.map.value(O)}
Size: ${collect.map.size}
As Text: ${collect.map}]]></echo>
                <script name="Check List" resultForState="true" resultVariable="retval">
                    <bind>
                        <value key="actual" value="${collect.map}"/>
                    </bind><![CDATA[var expected = Java.type("java.util.Map").of("A", "Apple", "O", "Orange", "P", "Pear");
var retval = 0;
if (!expected.equals(actual)){
 print("Excpeted: " + expected + ", but got: " + actual);
 retval = 1;
}
retval;]]></script>
            </jobs>
        </sequential>
    </job>
</oddjob>
